/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
p {
    font-family: 'Montserrat', sans-serif;
    
}


.container {
	width: 880px;
	margin: 0 auto;
}



nav {
	width:880px;
	padding:10px 0;
	align-items: center;
	display: flex;
	justify-content: space-around;
	background:#838B8B;
	position: fixed;
	z-index: 1;
}

nav a {
	color: white;
	text-decoration-line: none;
	font-size:1rem;
	
}
nav:hover{
	box-shadow:2px 4px 5px #000000; 
}
nav a:hover {
	color: black;
	animation-name: expanding;
	animation-duration: 2000ms;
	transform-origin: 0% 0%;
	animation-iteration-count: 2;
	
}

@keyframes expanding {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.logo {
	margin-left: 5%;
}

.services-header-img {
    margin-top: 10%;
    width: 100%;
}

.services {
    margin-top: 4%;
    padding-bottom:4%;
    border-bottom:1px solid black;
    
}
.services p{
    font-family: 'Titillium Web', sans-serif;
}


.parent-div div {
    margin: 2% 0%;
    width: 48%;
    border: 1px solid black;
    padding: 2%;
    background: lightgray;
}

button {
    padding: 2% 7% 2%;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 4%;
}



.facts {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

ul li {
    padding-top: 3%;
}

.services-info-img {
    width: 48%;
}

.copyright {
    text-align: center;
    margin-top: 10%;
}
@media only screen and (max-width: 600px) {
     .container{
         width:100vw;
     }
        .parent-div {
            width:100vw;
            margin-left:25vw;
            margin-top:2%;
            display: flex;
            flex-direction:column;
            justify-content: space-around;
            
        }
        

        .bottom-content {

            display: flex;
            flex-direction:column;
            margin-top: 4%;
            padding-top: 4%;
            border-top: 1px solid black;
            justify-content: space-around;
        }

        .services{
            width:100vw;
        }
        .services-header-img{
            width:100vw;
        }
    }
  

  @media only screen and (min-width: 600px) {
    
       .parent-div {
           margin-top:2%;
           display: flex;
           justify-content: space-between;
       }


       .bottom-content {
        display: flex;
        margin-top: 4%;
        padding-top: 4%;
        border-top: 1px solid black;
        justify-content: space-between;
    }
   }
 